<form class="{{cssClass}} item-sheet hybrid" autocomplete="off">
  <script>
      if (typeof inputs === 'undefined') {
        var inputs = document.querySelectorAll('input:not([type="checkbox"])');
      }
      inputs.forEach(input => {
        input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
      });
    </script>
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
    <table class="sheet-header-2">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="hybridType"
      labelKey="FI.HybridSheet.HybridType"
      divClass="hybridTypeDiv"
      iconClass="fa-shield"
      inputName="system.hybridType"
      inputValue= data.system.hybridType
      datalistId="hybridTypes"
      tooltipKey="FI.HybridSheet.HybridType"
      localizePrefix="FI.HybridType"
      fallbackLocalizationKey="FI.HybridType.Label.Custom" }}
      {{> "systems/firardfortress/templates/parts/items/capacitiesCost.hbs"}}
    </table>
  </header>
  {{> "systems/firardfortress/templates/parts/items/navigation.hbs"}}

  {{!-- Sheet Body --}}
  <main class="sheet-body">

    {{!-- Main Tab --}}
    <section class="sheet-tab tab" data-tab="main">
      {{> "systems/firardfortress/templates/parts/items/roll.hbs"}}
    </section>

    {{!-- Description Tab --}}
    <section class="sheet-tab tab sheet-description" data-tab="description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>