<form class="{{cssClass}} item-sheet misc" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{> "systems/firardfortress/templates/parts/items/details.hbs"
    cssClassPrefix="misc"
    quantityLabel="FI.System.Misc.Quantity"
    weightLabel="FI.MiscSheet.Weight"
    weightDescription="FI.MiscSheet.WeightDescription"
    weightUnit="FI.MiscSheet.WeightUnit"
    priceLabel="FI.MiscSheet.Price"
    priceUnit="FI.MiscSheet.PriceUnit"
    rarityLabel="FI.MiscSheet.Rarity"
    data=data }}
    <section class="sheet-description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>