<form class="{{cssClass}} item-sheet passif" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <table class="sheet-main">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="passifType"
      labelKey="FI.PassifSheet.PassifType"
      divClass="passifTypeDiv"
      iconClass="fa-shield"
      inputName="system.passifType"
      inputValue= data.system.passifType
      datalistId="passifTypes"
      tooltipKey="FI.PassifSheet.PassifType"
      localizePrefix="FI.PassifType"
      fallbackLocalizationKey="FI.PassifType.Label.Custom"
      data=data }}
    </table>
    <section class="sheet-description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>