<form class="{{cssClass}} item-sheet proficiency" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <table class="sheet-main">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="proficiencyType"
      labelKey="FI.ProficiencySheet.ProficiencyType"
      divClass="proficiencyTypeDiv"
      iconClass="fa-shield"
      inputName="system.proficiencyType"
      inputValue= data.system.proficiencyType
      datalistId="proficiencyTypes"
      tooltipKey="FI.ProficiencySheet.ProficiencyType"
      localizePrefix="FI.ProficiencyType"
      fallbackLocalizationKey="FI.ProficiencyType.Label.Custom"
      data=data }}
      {{> "systems/firardfortress/templates/parts/items/statInput.hbs"}}
    </table>
    <section class="sheet-description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>