<form class="{{cssClass}} item-sheet proficiency" autocomplete="off">
  <script>
      if (typeof inputs === 'undefined') {
        var inputs = document.querySelectorAll('input:not([type="checkbox"])');
      }
      inputs.forEach(input => {
        input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
      });
    </script>
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <table class="sheet-main">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="proficiencyType"
      labelKey="FI.ProficiencySheet.ProficiencyType"
      divClass="proficiencyTypeDiv"
      iconClass="fa-shield"
      inputName="system.proficiencyType"
      inputValue= data.system.proficiencyType
      datalistId="proficiencyTypes"
      tooltipKey="FI.ProficiencySheet.ProficiencyType"
      localizePrefix="FI.ProficiencyType"
      fallbackLocalizationKey="FI.ProficiencyType.Label.Custom" }}
      {{> "systems/firardfortress/templates/parts/items/statInput.hbs"}}
    </table>
    <section class="sheet-description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>