<form class="{{cssClass}} item-sheet spell" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortressdev/templates/parts/items/header.hbs"}}
    <table class="sheet-header-2">
      {{> "systems/firardfortressdev/templates/parts/items/typeInput.hbs"
      cssClass="spellType"
      labelKey="FI.SpellSheet.SpellType"
      divClass="spellTypeDiv"
      iconClass="fa-shield"
      inputName="system.spellType"
      inputValue= data.system.spellType
      datalistId="spellTypes"
      tooltipKey="FI.SpellSheet.SpellType"
      localizePrefix="FI.SpellType"
      fallbackLocalizationKey="FI.SpellType.Label.Custom"
      data=data }}
      {{> "systems/firardfortressdev/templates/parts/items/capacitiesCost.hbs"}}
    </table>
  </header>
  {{> "systems/firardfortressdev/templates/parts/items/navigation.hbs"}}

  {{!-- Sheet Body --}}
  <main class="sheet-body">

    {{!-- Main Tab --}}
    <section class="sheet-tab tab" data-tab="main">
      {{> "systems/firardfortressdev/templates/parts/items/roll.hbs"}}
    </section>

    {{!-- Description Tab --}}
    <section class="sheet-tab tab sheet-description" data-tab="description">
      {{> "systems/firardfortressdev/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>