<form class="{{cssClass}} item-sheet transformation" autocomplete="off">
  <script>
      if (typeof inputs === 'undefined') {
        var inputs = document.querySelectorAll('input:not([type="checkbox"])');
      }
      inputs.forEach(input => {
        input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
      });
    </script>
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <table class="sheet-main">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="transformationType"
      labelKey="FI.TransformationSheet.TransformationType"
      divClass="transformationTypeDiv"
      iconClass="fa-shield"
      inputName="system.transformationType"
      inputValue= data.system.transformationType
      datalistId="transformationTypes"
      tooltipKey="FI.TransformationSheet.TransformationType"
      localizePrefix="FI.TransformationType"
      fallbackLocalizationKey="FI.TransformationType.Label.Custom" }}
      {{> "systems/firardfortress/templates/parts/items/capacitiesCost.hbs"}}
    </table>
    <section class="sheet-description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>