<form class="{{cssClass}} item-sheet transformation" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortress/templates/parts/items/header.hbs"}}
    <table class="sheet-main">
      {{> "systems/firardfortress/templates/parts/items/typeInput.hbs"
      cssClass="transformationType"
      labelKey="FI.TransformationSheet.TransformationType"
      divClass="transformationTypeDiv"
      iconClass="fa-shield"
      inputName="system.transformationType"
      inputValue= data.system.transformationType
      datalistId="transformationTypes"
      tooltipKey="FI.TransformationSheet.TransformationType"
      localizePrefix="FI.TransformationType"
      fallbackLocalizationKey="FI.TransformationType.Label.Custom"
      data=data }}
      {{> "systems/firardfortress/templates/parts/items/capacitiesCost.hbs"}}
    </table>
  </header>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <section class="sheet-description">
      {{> "systems/firardfortress/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>