<form class="{{cssClass}} item-sheet weapon" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/firardfortressdev/templates/parts/items/header.hbs"}}
    <table class="sheet-header-2">
      {{> "systems/firardfortressdev/templates/parts/items/typeInput.hbs"
      cssClass="weaponType"
      labelKey="FI.WeaponSheet.WeaponType"
      divClass="weaponTypeDiv"
      iconClass="fa-shield"
      inputName="system.weaponType"
      inputValue= data.system.weaponType
      datalistId="weaponTypes"
      tooltipKey="FI.WeaponSheet.WeaponType"
      localizePrefix="FI.WeaponType"
      fallbackLocalizationKey="FI.WeaponType.Label.Custom"
      data=data }}
      <tr>
        <td class="equipped">
          <label>{{localize "FI.WeaponSheet.isEquipped"}}</label>
          <input type="checkbox" name="system.equipped" {{#if data.system.equipped}} checked {{/if}} />
        </td>
        {{> "systems/firardfortressdev/templates/parts/items/ranged.hbs" data=data}}
      {{> "systems/firardfortressdev/templates/parts/items/statInput.hbs" data=data}}
    </table>
  </header>
  {{> "systems/firardfortressdev/templates/parts/items/navigation.hbs"}}

  {{!-- Sheet Body --}}
  <main class="sheet-body">

    {{!-- Main Tab --}}
    <section class="sheet-tab tab" data-tab="main">
      {{> "systems/firardfortressdev/templates/parts/items/roll.hbs"}}
      {{> "systems/firardfortressdev/templates/parts/items/details.hbs"
      cssClassPrefix="weapon"
      quantityLabel="FI.System.Misc.Quantity"
      weightLabel="FI.WeaponSheet.Weight"
      weightDescription="FI.WeaponSheet.WeightDescription"
      weightUnit="FI.WeaponSheet.WeightUnit"
      priceLabel="FI.WeaponSheet.Price"
      priceUnit="FI.WeaponSheet.PriceUnit"
      rarityLabel="FI.WeaponSheet.Rarity" }}
    </section>

    {{!-- Description Tab --}}
    <section class="sheet-tab tab sheet-description" data-tab="description">
      {{> "systems/firardfortressdev/templates/parts/items/description.hbs"}}
    </section>
  </main>
</form>