<span class="sheet-footer-right">
  <label>{{localize "FI.System.DisplayAdvancedRoll"}}</label>
  <input type="checkbox" name="system.displayAdvancedRoll" {{#if data.system.displayAdvancedRoll}}checked{{/if}} />
</span>