<form class="{{cssClass}} actor-sheet NPC-sheet" autocomplete="off">
  <header class="header">
    <div class="header-left">
      {{> "systems/firardfortressdev/templates/parts/actors/header/subStat.hbs" data=data}}
      {{> "systems/firardfortressdev/templates/parts/actors/header/attributes.hbs" data=data}}
    </div>
    {{> "systems/firardfortressdev/templates/parts/actors/header/mainStat.hbs" data=data}}
  </header>
  <main>
    {{> "systems/firardfortressdev/templates/parts/actors/tabs/npcAttackTab.hbs" data=data}}
  </main>
  {{!-- <footer class="sheet-footer footer">
    {{> "systems/firardfortressdev/templates/parts/actors/footer/advancedRoll.hbs" data=data}}
  </footer> --}}
</form>