<form class="{{cssClass}} actor-sheet NPC-sheet" autocomplete="off">
  <script>
    if (typeof inputs === 'undefined') {
      var inputs = document.querySelectorAll('input:not([type="checkbox"])');
    }
    inputs.forEach(input => {
      input.setAttribute('onkeydown', 'if (event.keyCode === 13) { this.blur(); }');
    });
  </script>
  <header class="header">
    <div class="header-left">
      {{> "systems/firardfortress/templates/parts/actors/header/subStat.hbs" data=data}}
      {{> "systems/firardfortress/templates/parts/actors/header/attributes.hbs" data=data}}
    </div>
    {{> "systems/firardfortress/templates/parts/actors/header/mainStat.hbs" data=data}}
  </header>
  <main>
    {{> "systems/firardfortress/templates/parts/actors/tabs/npcAttackTab.hbs" data=data}}
  </main>
  <footer class="sheet-footer footer">
    {{> "systems/firardfortress/templates/parts/actors/footer/advancedRoll.hbs" data=data}}
  </footer>
</form>