<nav class="sheet-tabs tabs" data-group="primary">
  <ul>
    <li><a class="item" data-tab="main">{{localize "FI.System.Gameplay.Main"}}</a></li>
    <li><a class="item" data-tab="description">{{localize "FI.System.Character.Notes"}}</a></li>
  </ul>
</nav>