<nav class="sheet-tabs tabs" data-group="primary">
  <ul>
    <li>
      <a class="item" data-tab="main"><img
          class="selector"
          src="systems/firardfortressdev/assets/arrowSelector.png"
          alt=""
        />{{localize "FI.System.Gameplay.Main"}}</a>
    </li>
    <li>
      <a class="item" data-tab="proficiencies"><img
          class="selector"
          src="systems/firardfortressdev/assets/arrowSelector.png"
          alt=""
        />{{localize "FI.System.Character.Proficiencies"}}</a>
    </li>
    <li>
      <a class="item" data-tab="spells"><img
          class="selector"
          src="systems/firardfortressdev/assets/arrowSelector.png"
          alt=""
        />{{localize "FI.System.Character.Spells"}}</a>
    </li>
    <li>
      <a class="item" data-tab="notes"><img
          class="selector"
          src="systems/firardfortressdev/assets/arrowSelector.png"
          alt=""
        />{{localize "FI.System.Character.Notes"}}</a>
    </li>
  </ul>
</nav>