/* header */
header.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

header img.image-header {
    height: 100%;
    width: auto;
}

header div.header-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

header div.stat-container {
    display: block;
    text-align: center;
}

header div.stat-container div.bar {
    position: relative;
    width: 100%;
    height: 9px;
    padding: 1px;
    border: 1px solid #0000001f;
    border-radius: 5px;
    margin: 2px 0;
}

header div.stat-container div.bar div.barValue {
    position: absolute;
    height: 5px;
    border-radius: 5px;
}

header div.stat-container div.bar div.barTemp {
    z-index: 1;
}

header div.stat-container div.bar.HPbar{
    background-color: #ff00002f;
}

header div.stat-container div.bar div.barValue.HPbarValue {
    background-color: #ff0000;
    width: 100%;
}

header div.stat-container div.bar div.barValue.HPbarTemp {
    background-color: #a10000;
    width: 0%;
}

header div.stat-container div.bar.MPbar {
    background-color: #0000ff2f;
}

header div.stat-container div.bar div.barValue.MPbarValue {
    background-color: #0000ff;
    width: 100%;
}

header div.stat-container div.bar div.barValue.MPbarTemp {
    background-color: #0000a1;
    width: 0%;
}

header div.stat-container div.bar.SPbar {
    background-color: #00ff002f;
}

header div.stat-container div.bar div.barValue.SPbarValue {
    background-color: #00ff00;
    width: 100%;
}

header div.stat-container div.bar div.barValue.SPbarTemp {
    background-color: #00a100;
    width: 0%;
}

header div.stat-container div.bar.PAbar {
    background-color: #ffff002f;
}

header div.stat-container div.bar div.barValue.PAbarValue {
    background-color: #ffff00;
    width: 100%;
}

header div.stat-container div.bar div.barValue.PAbarTemp {
    background-color: #a1a100;
    width: 0%;
}

header div.stat-container div.bar.MAbar {
    background-color: #ff00ff2f;
}

header div.stat-container div.bar div.barValue.MAbarValue {
    background-color: #ff00ff;
    width: 100%;
}

header div.stat-container div.bar div.barValue.MAbarTemp {
    background-color: #a100a1;
    width: 0%;
}

header div.stat-container div.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

header div.stat-container div.stat.label {
    font-size: small;
}

header div.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 95%;
}

header div.header-top div.header-top-left {
    display: block;
    align-items: center;
    width: 33%;
    height: 127px;
}

header div.header-top div.header-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67%;
}

header div.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.header-bottom {
    display: block;
    align-items: center;
    width: 95%;
    margin-top: 75px;
}

header div.header-bottom table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

header div.header-bottom table tr {
    border-bottom: 1px solid #ccc;
}

header div.header-bottom table tr td {
    padding: 5px;
    border: black 1px solid;
}

header div.header-bottom table tr td.stat-input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

header div.header-bottom table tr td.stat-input div.mainStat {
    width: 150px;
}

header div.header-bottom table tr td.stat-input div .stat {
    padding: 0 5px;
    border-right: #00000059 1px solid;
}

header div.header-bottom table tr td.stat-input div .stat:last-child {
    width: 20px;
    border-right: none;
}

header div.header-bottom table tr td.stat-input div .stat input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

header div.header-bottom table tr td.stat-input div .stat input:focus {
    outline: none;
}

header div.header-bottom table tr td.stat-input div .stat p {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
    color: #a10000;
}

header div.header-right {
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

header div.header-right label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

header div.header-right label svg {
    height: 20px;
    width: auto;
}





/* nav */
nav.sheet-tabs ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav.sheet-tabs ul li {
    margin: 0 10px;
}







/* body */

/* main tab */



/* skill tab */



/* spell tab */



/* notes tab */

section div.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff1f;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

section div.description div.description-language {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

section div.description div.description-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

section div.description div.description-right {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

section div.description div.description-notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

section div.description div textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}











/* footer */

footer.footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    display: block;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-top: 1px solid #ccc;
    align-items: right;
    font-size: 0.7em;
}

footer span.sheet-footer-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

footer span.sheet-footer-right input {
    width: 12px;
    height: 12px;
}