/* Actor sheet */

/* header */
form.actor-sheet header.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.actor-sheet header img.image-header {
    height: 100%;
    width: auto;
}

form.actor-sheet header div.header-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

form.actor-sheet header div.stat-container {
    display: block;
    text-align: center;
}

form.actor-sheet header div.stat-container div.bar {
    position: relative;
    width: 100%;
    height: 9px;
    padding: 1px;
    border: 1px solid #0000001f;
    border-radius: 5px;
    margin: 2px 0;
}

form.actor-sheet header div.stat-container div.bar div.barValue {
    position: absolute;
    height: 5px;
    border-radius: 5px;
}

form.actor-sheet header div.stat-container div.bar div.barTemp {
    z-index: 1;
}

form.actor-sheet header div.stat-container div.bar.HPbar{
    background-color: #ff00002f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.HPbarValue {
    background-color: #ff0000;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.HPbarTemp {
    background-color: #a10000;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.MPbar {
    background-color: #0000ff2f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MPbarValue {
    background-color: #0000ff;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MPbarTemp {
    background-color: #0000a1;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.SPbar {
    background-color: #00ff002f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.SPbarValue {
    background-color: #00ff00;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.SPbarTemp {
    background-color: #00a100;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.PAbar {
    background-color: #ffff002f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.PAbarValue {
    background-color: #ffff00;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.PAbarTemp {
    background-color: #a1a100;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.MAbar {
    background-color: #ff00ff2f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MAbarValue {
    background-color: #ff00ff;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MAbarTemp {
    background-color: #a100a1;
    width: 0%;
}

form.actor-sheet header div.stat-container div.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

form.actor-sheet header div.stat-container div.stat.label {
    font-size: small;
}

form.actor-sheet header div.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 95%;
}

form.actor-sheet header div.header-top div.header-top-left {
    display: block;
    align-items: center;
    width: 33%;
    height: 127px;
}

form.actor-sheet header div.header-top div.header-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67%;
}

form.actor-sheet header div.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form.actor-sheet header div.header-bottom {
    display: block;
    align-items: center;
    width: 95%;
    margin-top: 75px;
}

form.actor-sheet header div.header-bottom table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

form.actor-sheet header div.header-bottom table tr {
    border-bottom: 1px solid #ccc;
}

form.actor-sheet header div.header-bottom table tr td {
    padding: 5px;
    border: black 1px solid;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div.mainStat {
    width: 150px;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat {
    padding: 0 5px;
    border-right: #00000059 1px solid;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat:last-child {
    width: 20px;
    border-right: none;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat input:focus {
    outline: none;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat p {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
    color: #a10000;
}

form.actor-sheet header div.header-right {
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

form.actor-sheet header div.header-right label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.actor-sheet header div.header-right label svg {
    height: 20px;
    width: auto;
}








/* nav */
form.actor-sheet nav.sheet-tabs ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

form.actor-sheet nav.sheet-tabs ul li {
    margin: 0 10px;
}







/* body */

/* main tab */



/* skill tab */



/* spell tab */



/* notes tab */

form.actor-sheet section div.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff1f;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

form.actor-sheet section div.description div.description-language {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

form.actor-sheet section div.description div.description-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

form.actor-sheet section div.description div.description-right {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

form.actor-sheet section div.description div.description-notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.actor-sheet section div.description div textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

form.actor-sheet section div.description div.description-language tr {
    border-bottom: 1px solid #ccc;
}

form.actor-sheet section div.description div.description-language tr td {
    padding: 5px;
    border: black 1px solid;
}

form.actor-sheet section div.description div.description-language tr td input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}








/* footer */

form.actor-sheet footer.footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    display: block;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-top: 1px solid #ccc;
    align-items: right;
    font-size: 0.7em;
}

form.actor-sheet footer span.sheet-footer-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

form.actor-sheet footer span.sheet-footer-right input {
    width: 12px;
    height: 12px;
}
























































/* Item sheet */

/* Adventure Dice */

form.item-sheet.adventure-dice header.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.adventure-dice div.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.adventure-dice div.sheet-body div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
}

form.item-sheet.adventure-dice div.sheet-body div label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

form.item-sheet.adventure-dice div.sheet-body div input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame {
    display: inline-flex;
    flex-direction: column;
    border-radius: 2%;
    position: relative;
    justify-content: center;
    width: fit-content;
    padding: 1em;
    gap: 1em;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame legend {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock {
    position: relative;
    background-color: transparent;
    width: 4em;
    height: 4em;
    overflow: hidden;
    border: medium solid #666666;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0.5em #666666;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock label {
    display: none;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock meter.clock-segment {
    appearance: none;
    display: inline-block;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    width: 2em;
    height: 2em;
    border: solid #666666;
    border-width: 0.001em;
    background-color: #eee;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: 0 2em;
    transform:rotate(calc(var(--index) * var(--angle))) skewY(calc(var(--segmentAngle) - 90deg)) scale(1.5);
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock meter.filled {
    background-color: #000000;
}

/* Spells */

form.item-sheet.spell header.sheet-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.spell header.sheet-header div.sheet-header-1 {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

form.item-sheet.spell header.sheet-header div.sheet-header-2 {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

form.item-sheet.spell header.sheet-header div.sheet-header-3 {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

form.item-sheet.spell header.sheet-header div.sheet-header-4 {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

form.item-sheet.spell main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.spell main.sheet-body div.sheet-body-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

form.item-sheet.spell main.sheet-body div.sheet-body-right {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

form.item-sheet.spell footer.sheet-footer {
    display: block;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff1f;
}