/* Actor sheet */

/* ----------------------------------------------------------------------------------------------------------- */
/* header */
/* ----------------------------------------------------------------------------------------------------------- */

form.actor-sheet header.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.actor-sheet header img.profile-img {
    height: 100%;
    width: auto;
    max-width: 150px;
}

form.actor-sheet header div.header-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

form.actor-sheet header div.stat-container {
    display: block;
    text-align: center;
}

form.actor-sheet header div.stat-container div.bar {
    position: relative;
    width: 100%;
    height: 9px;
    padding: 1px;
    border: 1px solid #0000001f;
    border-radius: 5px;
    margin: 2px 0;
}

form.actor-sheet header div.stat-container div.bar div.barValue {
    position: absolute;
    height: 5px;
    border-radius: 5px;
}

form.actor-sheet header div.stat-container div.bar div.barTemp {
    z-index: 1;
}

form.actor-sheet header div.stat-container div.bar.HPbar{
    background-color: #ff00002f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.HPbarValue {
    background-color: #ff0000;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.HPbarTemp {
    background-color: #a10000;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.MPbar {
    background-color: #0000ff2f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MPbarValue {
    background-color: #0000ff;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MPbarTemp {
    background-color: #0000a1;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.SPbar {
    background-color: #00ff002f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.SPbarValue {
    background-color: #00ff00;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.SPbarTemp {
    background-color: #00a100;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.PAbar {
    background-color: #ffff002f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.PAbarValue {
    background-color: #ffff00;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.PAbarTemp {
    background-color: #a1a100;
    width: 0%;
}

form.actor-sheet header div.stat-container div.bar.MAbar {
    background-color: #ff00ff2f;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MAbarValue {
    background-color: #ff00ff;
    width: 100%;
}

form.actor-sheet header div.stat-container div.bar div.barValue.MAbarTemp {
    background-color: #a100a1;
    width: 0%;
}

form.actor-sheet header div.stat-container div.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

form.actor-sheet header div.stat-container div.stat.label {
    font-size: small;
}

form.actor-sheet header div.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 95%;
}

form.actor-sheet header div.header-top div.header-top-left {
    display: block;
    align-items: center;
    width: 33%;
    height: 127px;
}

form.actor-sheet header div.header-top div.header-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67%;
}

form.actor-sheet header div.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form.actor-sheet header div.header-bottom {
    display: block;
    align-items: center;
    width: 95%;
    margin-top: 75px;
}

form.actor-sheet header div.header-bottom table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

form.actor-sheet header div.header-bottom table tr {
    border-bottom: 1px solid #ccc;
}

form.actor-sheet header div.header-bottom table tr td {
    padding: 5px;
    border: black 1px solid;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div.mainStat {
    width: 150px;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat {
    padding: 0 5px;
    border-right: #00000059 1px solid;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat:last-child {
    width: 20px;
    border-right: none;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat input:focus {
    outline: none;
}

form.actor-sheet header div.header-bottom table tr td.stat-input div .stat p {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
    color: #a10000;
}

form.actor-sheet header div.header-right {
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

form.actor-sheet header div.header-right label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.actor-sheet header div.header-right label svg {
    height: 17px;
    width: auto;
}

.tox-statusbar__branding {
    display: none;
}







/* ----------------------------------------------------------------------------------------------------------- */
/* nav */
/* ----------------------------------------------------------------------------------------------------------- */

nav.sheet-tabs.tabs ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav.sheet-tabs.tabs ul li {
    margin: 0 10px;
}






/* ----------------------------------------------------------------------------------------------------------- */
/* body */
/* ----------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------- */
/* main tab */
/* ----------------------------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------------------------- */
/* proficiency tab */
/* ----------------------------------------------------------------------------------------------------------- */

form.actor-sheet section div.proficiency-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.actor-sheet section div.proficiency-tab table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

form.actor-sheet section div.proficiency-tab table tr {
    border-bottom: black 1px solid;
}

form.actor-sheet section div.proficiency-tab table tr:last-child {
    border-bottom: none;
}

form.actor-sheet section div.proficiency-tab table tr th{
    width: 100%;
    height: 30px;
}

form.actor-sheet section div.proficiency-tab table tr th.small {
    width: 30px;
    font-size: 0.7em;
    transform: rotate(25deg);
    text-indent: -20px;
    padding-top: 13px;
}

form.actor-sheet section div.proficiency-tab table tr td {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

form.actor-sheet section div.proficiency-tab table tr td.small {
    width: 30px;
}




/* ----------------------------------------------------------------------------------------------------------- */
/* spell tab */
/* ----------------------------------------------------------------------------------------------------------- */

form.actor-sheet section div.spell-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.actor-sheet section div.spell-tab table {
    width: 49%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

form.actor-sheet section div.spell-tab table.hybrid-table {
    width: 100%;
}

form.actor-sheet section div.spell-tab table {
    width: 49%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

form.actor-sheet section div.spell-tab table tr {
    border-bottom: black 1px solid;
}

form.actor-sheet section div.spell-tab table tr:last-child {
    border-bottom: none;
}

form.actor-sheet section div.spell-tab table tr th{
    width: 100%;
    height: 30px;
}

form.actor-sheet section div.spell-tab table tr th.small {
    width: 30px;
    font-size: 0.7em;
    transform: rotate(25deg);
    text-indent: -20px;
    padding-top: 13px;
}

form.actor-sheet section div.spell-tab table tr td {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

form.actor-sheet section div.spell-tab table tr td.small {
    width: 30px;
}

form.actor-sheet section div.spell-tab table tr td div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* ----------------------------------------------------------------------------------------------------------- */
/* notes tab */
/* ----------------------------------------------------------------------------------------------------------- */



form.actor-sheet section div.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff1f;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

form.actor-sheet section div.description div.description-language {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

form.actor-sheet section div.description div.description-left {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

form.actor-sheet section div.description div.description-right {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
}

form.actor-sheet section div.description div.description-notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.actor-sheet section div.description div textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    overflow: auto;
    font-size: 1.2em;
}

form.actor-sheet section div.description div.description-language tr {
    border-bottom: 1px solid #ccc;
}

form.actor-sheet section div.description div.description-language tr td {
    padding: 5px;
    border: black 1px solid;
}

form.actor-sheet section div.description div.description-language tr td input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}







/* ----------------------------------------------------------------------------------------------------------- */
/* footer */
/* ----------------------------------------------------------------------------------------------------------- */

form.actor-sheet footer.footer {
    position: sticky;
    bottom: 0;
    width: 99%;
    height: 35px;
    display: block;
    padding: 10px 20px;
    background-color: #ffffff75;
    border-top: 1px solid #ccc;
    text-shadow: #000000;
    align-items: right;
    font-size: 0.7em;
    z-index: 2;
}

form.actor-sheet footer span.sheet-footer-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

form.actor-sheet footer span.sheet-footer-right input {
    width: 12px;
    height: 12px;
}























































/* ----------------------------------------------------------------------------------------------------------- */
/* Item sheet */
/* ----------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------------------- */
/* AdventureDice */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.adventure-dice {
    width: 500px;
    height: 280px;
}

form.item-sheet.adventure-dice header.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.adventure-dice div.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.adventure-dice div.sheet-body div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
}

form.item-sheet.adventure-dice div.sheet-body div label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

form.item-sheet.adventure-dice div.sheet-body div input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame {
    display: inline-flex;
    flex-direction: column;
    border-radius: 2%;
    position: relative;
    justify-content: center;
    width: fit-content;
    padding: 1em;
    gap: 1em;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame legend {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock {
    position: relative;
    background-color: transparent;
    width: 4em;
    height: 4em;
    overflow: hidden;
    border: medium solid #666666;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0.5em #666666;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock label {
    display: none;
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock meter.clock-segment {
    appearance: none;
    display: inline-block;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    width: 2em;
    height: 2em;
    border: solid #666666;
    border-width: 0.001em;
    background-color: #eee;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: 0 2em;
    transform:rotate(calc(var(--index) * var(--angle))) skewY(calc(var(--segmentAngle) - 90deg)) scale(1.5);
}

form.item-sheet.adventure-dice div.sheet-body div.sheet-bottom fieldset.clock-frame div.clock meter.filled {
    background-color: #000000;
}







/* ----------------------------------------------------------------------------------------------------------- */
/* Spells */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.spell {
    width: 400px;
    height: 800px;
}

form.item-sheet.spell header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.spell header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(0, 174, 255, 0.555)
}

form.item-sheet.spell header.sheet-header div.sheet-header-1 img {
    height: 65%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.spell header.sheet-header div.sheet-header-1 textarea {
    width: 100%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 table.sheet-header-2-1 {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tbody {
    background-color: rgba(0, 174, 255, 0.11);
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tr td {
    padding: 5px;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tr td.range div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

form.item-sheet.spell header.sheet-header table.sheet-header-2 tr td.range div span {
    border: none;
    margin: 0 3px;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.spell main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.spell section.sheet-tab div.rolls-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.spell section.sheet-tab div.rolls-label label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

form.item-sheet.spell section.sheet-tab div.rolls-label button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
}

form.item-sheet.spell section.sheet-tab div.rolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 151, 151, 0.356);
    border-bottom: #858585 1px solid;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll:first-child {
    border-radius: 5px 5px 0 0;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll input {
    border: rgba(128, 128, 128, 0.301) 1px solid;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll input.number {
    width: 13%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll input.number:first-child {
    text-align: right;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll span {
    width: 5%;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll input.text {
    width: 30%;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll input.dice {
    width: 22%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.spell section.sheet-tab div.rolls div.roll button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.spell section.sheet-description{
    width: 100%;
    height: 150px;
}







/* ----------------------------------------------------------------------------------------------------------- */
/* skills */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.skill {
    width: 400px;
    height: 800px;
}

form.item-sheet.skill header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.skill header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(0, 255, 0, 0.555)
}

form.item-sheet.skill header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.skill header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 table.sheet-header-2-1 {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tbody {
    background-color: rgba(30, 255, 0, 0.11);
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tr td {
    padding: 5px;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tr td.range div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

form.item-sheet.skill header.sheet-header table.sheet-header-2 tr td.range div span {
    border: none;
    margin: 0 3px;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.skill main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.skill section.sheet-tab div.rolls-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.skill section.sheet-tab div.rolls-label label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

form.item-sheet.skill section.sheet-tab div.rolls-label button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
}

form.item-sheet.skill section.sheet-tab div.rolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 151, 151, 0.356);
    border-bottom: #858585 1px solid;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll:first-child {
    border-radius: 5px 5px 0 0;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll input {
    border: rgba(128, 128, 128, 0.301) 1px solid;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll input.number {
    width: 13%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll input.number:first-child {
    text-align: right;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll span {
    width: 5%;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll input.text {
    width: 30%;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll input.dice {
    width: 22%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.skill section.sheet-tab div.rolls div.roll button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.skill section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Hybrid */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.hybrid {
    width: 400px;
    height: 800px;
}

form.item-sheet.hybrid header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.hybrid header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(0, 255, 234, 0.555)
}

form.item-sheet.hybrid header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.hybrid header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 table.sheet-header-2-1 {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tbody {
    background-color: rgba(0, 255, 179, 0.11);
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tr td {
    padding: 5px;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tr td.range div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

form.item-sheet.hybrid header.sheet-header table.sheet-header-2 tr td.range div span {
    border: none;
    margin: 0 3px;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.hybrid main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.hybrid section.sheet-tab div.rolls-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.hybrid section.sheet-tab div.rolls-label label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

form.item-sheet.hybrid section.sheet-tab div.rolls-label button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
}

form.item-sheet.hybrid section.sheet-tab div.rolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 151, 151, 0.356);
    border-bottom: #858585 1px solid;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll:first-child {
    border-radius: 5px 5px 0 0;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll input {
    border: rgba(128, 128, 128, 0.301) 1px solid;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll input.number {
    width: 13%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll input.number:first-child {
    text-align: right;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll span {
    width: 5%;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll input.text {
    width: 30%;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll input.dice {
    width: 22%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.hybrid section.sheet-tab div.rolls div.roll button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.hybrid section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Transformation */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.transformation {
    width: 435px;
    height: 800px;
}

form.item-sheet.transformation header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.transformation header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(204, 0, 255, 0.555)
}

form.item-sheet.transformation header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.transformation header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.transformation table.sheet-main {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.transformation table.sheet-main tbody {
    background-color: rgba(225, 0, 255, 0.11);
}

form.item-sheet.transformation table.sheet-main tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.transformation table.sheet-main tr td {
    padding: 5px;
}

form.item-sheet.transformation table.sheet-main tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.transformation table.sheet-main tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.transformation main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.transformation section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Passif */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.passif {
    width: 400px;
    height: 800px;
}

form.item-sheet.passif header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.passif header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(255, 0, 76, 0.555)
}

form.item-sheet.passif header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.passif header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.passif table.sheet-main {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.passif table.sheet-main tbody {
    background-color: rgba(255, 0, 76, 0.11);
}

form.item-sheet.passif table.sheet-main tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.passif table.sheet-main tr td {
    padding: 5px;
}

form.item-sheet.passif table.sheet-main tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.passif table.sheet-main tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.passif main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.passif section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Proficiency */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.proficiency {
    width: 400px;
    height: 800px;
}

form.item-sheet.proficiency header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.proficiency header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(255, 123, 0, 0.555)
}

form.item-sheet.proficiency header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.proficiency header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.proficiency table.sheet-main {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.proficiency table.sheet-main tbody {
    background-color: rgba(255, 102, 0, 0.11);
}

form.item-sheet.proficiency table.sheet-main tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.proficiency table.sheet-main tr td {
    padding: 5px;
}

form.item-sheet.proficiency table.sheet-main tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.proficiency table.sheet-main tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.proficiency main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.proficiency section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Proficiency */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.money {
    width: 400px;
    height: 800px;
}

form.item-sheet.money header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.money header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(255, 230, 0, 0.555)
}

form.item-sheet.money header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.money header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.money table.sheet-main {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.money table.sheet-main tbody {
    background-color: rgba(255, 238, 0, 0.11);
}

form.item-sheet.money table.sheet-main tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.money table.sheet-main tr td {
    padding: 5px;
}

form.item-sheet.money table.sheet-main tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.money table.sheet-main tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.money main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.money section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Misc */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.misc {
    width: 400px;
    height: 800px;
}

form.item-sheet.misc header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.misc header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(255, 255, 255, 0.555)
}

form.item-sheet.misc header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    filter: invert(100%);
}

form.item-sheet.misc header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.misc table.sheet-main {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.misc table.sheet-main tbody {
    background-color: rgba(255, 255, 255, 0.11);
}

form.item-sheet.misc table.sheet-main tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.misc table.sheet-main tr td {
    padding: 5px;
}

form.item-sheet.misc table.sheet-main tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.misc table.sheet-main tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.misc main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.misc section.sheet-description{
    width: 100%;
    height: 150px;
}










/* ----------------------------------------------------------------------------------------------------------- */
/* Weapon */
/* ----------------------------------------------------------------------------------------------------------- */

form.item-sheet.weapon {
    width: 400px;
    height: 800px;
}

form.item-sheet.weapon header.sheet-header {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.weapon header.sheet-header div.sheet-header-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    align-items: center;
    width: 120%;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(228, 0, 0, 0.705)
}

form.item-sheet.weapon header.sheet-header div.sheet-header-1 img {
    height: 100%;
    width: auto;
    max-width: 75px;
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

form.item-sheet.weapon header.sheet-header div.sheet-header-1 textarea {
    width: 65%;
    height: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    font-family: "Signika", sans-serif;
    resize: none;
}

form.item-sheet.weapon table.sheet-main {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

form.item-sheet.weapon table.sheet-main tbody {
    background-color: rgba(255, 0, 0, 0.11);
}

form.item-sheet.weapon table.sheet-main tr:last-child {
    border-bottom: 1px solid #666666;
}

form.item-sheet.weapon table.sheet-main tr td {
    padding: 5px;
}

form.item-sheet.weapon table.sheet-main tr td i.fas {
    width: 5%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.weapon table.sheet-main tr td input {
    width: 80%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.weapon table.sheet-main tr td.range div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

form.item-sheet.weapon table.sheet-main tr td.range div span {
    border: none;
    margin: 0 3px;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.weapon main.sheet-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.weapon section.sheet-description{
    width: 100%;
    height: 150px;
}
form.item-sheet.weapon section.sheet-tab div.rolls-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.weapon section.sheet-tab div.rolls-label label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

form.item-sheet.weapon section.sheet-tab div.rolls-label button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
}

form.item-sheet.weapon section.sheet-tab div.rolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff1f;
    border-bottom: 1px solid #ccc;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 151, 151, 0.356);
    border-bottom: #858585 1px solid;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll:first-child {
    border-radius: 5px 5px 0 0;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll input {
    border: rgba(128, 128, 128, 0.301) 1px solid;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll input.number {
    width: 13%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll input.number:first-child {
    text-align: right;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll span {
    width: 5%;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll input.text {
    width: 30%;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll input.dice {
    width: 22%;
    background-color: transparent;
    text-align: left;
    font-size: 1.2em;
}

form.item-sheet.weapon section.sheet-tab div.rolls div.roll button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.2em;
}